    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        padding: 0.5em;
    }

    .header-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .home-screen {
        padding-top: 10em;
        height: calc(100vh - 13em) !important;
    }

    .table-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        overflow-y: auto;
        height: calc(100vh - 13em);
    }

    .table-container thead {
        position: sticky;
        top: 0;
    }

    thead tr {
        background: var(--pico-mark-background-color);
    }

    tbody tr:nth-child(even) {
        background: var(--pico-range-border-color);
    }

    tbody tr:hover {
        background: var(--pico-form-element-border-color);
    }

    td,
    th {
        padding: 0.1em;
        background: transparent;
    }

    td button {
        min-width: unset;
        min-height: unset;
        width: 1.5em;
        height: 1.6em;
        padding: 0 !important;
        margin: 0 !important;
    }

    th.th-center,
    td.td-center {
        text-align: center;
    }


    .summary-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: calc(100% - 0.5em);
    }

    h1,
    h2 {
        width: 100%;
        text-align: center;
    }

    button,
    .dialog-add-edit button {
        min-width: 7em;
        padding: 0.3em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .icon-align {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .icon-tab {
        min-width: unset;
        width: 100%;
        background: transparent;
        border-color: transparent;
    }

    .bg-red {
        background: var(--pico-color-red);
        border-color: transparent;
    }

    .bg-orange {
        background: var(--pico-color-orange);
        border-color: transparent;
    }

    .bg-jade {
        background: var(--pico-color-jade);
        border-color: transparent;
    }

    .bg-fuchsia {
        background: var(--pico-color-fuchsia);
        border-color: transparent;
    }

    .bg-indigo {
        background: var(--pico-color-indigo);
        border-color: transparent;
    }

    .bg-azure {
        background: var(--pico-color-jade);
        border-color: transparent;
    }

    .bg-slate {
        background: var(--pico-color-azure);
        border-color: transparent;
    }

    .bg-sand {
        background: var(--pico-color-sand-200);
        border-color: transparent;
        color: var(--pico-color-sand-950);
    }

    textarea {
        height: 8em;
    }

    .dialog-fullsize {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: var(--pico-background-color);
        padding: 0.5em;
        top: 0;
        left: 0;
    }

    .dialog-enter-password,
    .dialog-enter-password form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex-wrap: nowrap;
    }

    .dialog-add-edit {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5em;
    }

    .dialog-add-edit button.clear {
        position: relative;
        min-width: unset;
        width: 2em;
        height: 2.3em;
        padding: 0.1em;
        margin: 0;
        margin-top: -3.7em;
        right: calc(-100% + 2.4em);
        top: 0;
    }

    .dialog-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        width: 100vw;
        padding: 0.5em;
        left: 0;
        bottom: 0.5em;
    }

    .dialog-button-container button {
        width: 100%;
        margin: 0.5em;
    }

    .dialog-section-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100vw;
        padding: 0;
        left: 0;
        /* bottom: 0.5em; */
    }

    .dialog-section-button-container button {
        width: 100%;
        margin: 0.5em;
    }

    .datalist-input-container {
        width: 100%;
    }

    input[type="date"],
    input[type="time"] {
        position: relative;
        background-image: none !important;
    }

    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 0.5em);
        height: auto;
        color: transparent;
        background: transparent;
    }

    input[type="date"].date-mini {
        height: 2em;
        font-size: 0.8em;
    }

    label {
        padding-right: 0.2em;
    }

    .switch-padding {
        padding-top: 1.5em;
        padding-left: 0.5em;
    }

    .half-size {
        min-width: unset;
        width: calc(50% - 0.25em) !important;
    }

    .full-size {
        min-width: unset;
        width: calc(100% - 0.25em) !important;
    }

    .one {
        min-width: unset;
        width: calc(10% - 0.25em) !important;
    }

    .two {
        min-width: unset;
        width: calc(20% - 0.25em) !important;
    }

    .third {
        min-width: unset;
        width: calc(30% - 0.25em) !important;
    }

    .thirtyfive {
        min-width: unset;
        width: calc(35% - 0.25em) !important;
    }

    .wdt-38 {
        min-width: unset;
        max-width: 10em;
        width: calc(38% - 0.25em) !important;
    }

    .forth {
        min-width: unset;
        width: calc(40% - 0.25em) !important;
    }

    .sixth {
        min-width: unset;
        width: calc(60% - 0.25em) !important;
    }

    .seventh {
        min-width: unset;
        width: calc(70% - 0.25em) !important;
    }

    .hgt2-1 {
        height: 2.1em;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-row.center {
        justify-content: center;
    }

    .flex-row.left {
        justify-content: flex-start;
    }

    .flex-row.right {
        justify-content: flex-end;
    }

    .flex-row.top {
        align-content: flex-start;
    }

    .flex-row.middle {
        align-content: center;
    }

    .flex-row.bottom {
        align-content: flex-end;
    }

    .divider-v {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .pointer {
        cursor: pointer;
    }